spacy>=3.5.0
opencv-python
openai
google-generative-ai
google-cloud-texttospeech
google-api-core
mss
requests
PyPDF2
pyautogui
nltk
pyperclip
gTTS
transformers
Pillow
torch
sentence-transformers
language-tool-python
textstat
beautifulsoup4
ipython
